[submodule "emacs.d/slime"]
	path = emacs.d/slime
	url = git://github.com/nablaone/slime.git
[submodule "emacs.d/swank-clojure"]
	path = emacs.d/swank-clojure
	url = https://github.com/technomancy/swank-clojure
[submodule "emacs.d/slime48"]
	path = emacs.d/slime48
	url = git@github.com:jeffd/slime48.git
[submodule "emacs.d/html5"]
	path = emacs.d/html5
	url = http://github.com/hober/html5-el.git
[submodule "emacs.d/js2-mode"]
	path = emacs.d/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "emacs.d/mark-multiple"]
	path = emacs.d/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs.d/js2-refactor"]
	path = emacs.d/js2-refactor
	url = git://github.com/magnars/js2-refactor.el.git
[submodule "emacs.d/full-ack"]
	path = emacs.d/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "emacs.d/coffee-mode"]
	path = emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/gnu-apl-mode"]
	path = emacs.d/gnu-apl-mode
	url = https://github.com/lokedhs/gnu-apl-mode.git
