[submodule "emacs.d/slime"]
	path = emacs.d/slime
	url = git://github.com/nablaone/slime.git
[submodule "emacs.d/swank-clojure"]
	path = emacs.d/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "emacs.d/slime48"]
	path = emacs.d/slime48
	url = git@github.com:jeffd/slime48.git
[submodule "emacs.d/html5"]
	path = emacs.d/html5
	url = http://github.com/hober/html5-el.git
[submodule "emacs.d/js2-mode"]
	path = emacs.d/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "emacs.d/mark-multiple"]
	path = emacs.d/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs.d/js2-refactor"]
	path = emacs.d/js2-refactor
	url = git://github.com/magnars/js2-refactor.el.git
